@charset "utf-8";
/* CSS Document */

/* general styles */

img {
	max-width: 100%;
	height: auto;	
}

.clear {
	clear: both;
}

.clear_element {
	overflow: auto;	
}

.text_tab {
	text-indent: 32px;	
}

button.secondary.block {
	display: block;	
}

.note {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border: 1px solid #333333;
	background-color: #F2F2F2;	
}

/* hide_text code from:

http://css-tricks.com/examples/IconFont

*/

.hide_text {
	position: absolute;
	top: -9999px;
	left: -9999px;	
}

/* button styles - from Foundation - http://foundation.zurb.com */

.button {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* Michael Whyte addition */
	width: auto; 
	background: #2ba6cb; 
	border: 1px solid #1e728c; 
	
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	color: #FFFFFF; 
	cursor: pointer; 
	display: inline-block; 
	/*font-family: inherit; */ /* Michael Whyte addition */
	font-size: 14px; 
	font-weight: bold; 
	line-height: 1; 
	margin: 0; 
	padding: 10px 20px 11px; 
	position: relative; 
	text-align: center; 
	text-decoration: none; 
	
	-webkit-transition: background-color 0.15s ease-in-out; 		
	-moz-transition: background-color 0.15s ease-in-out; 
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;	
}

.button:hover, 
.button:focus { 
	color: #FFFFFF; 
	background-color: #2284a1; 
}

.button:active { 
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; 	
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; 
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; 
}

.button.large { 
	font-size: 17px; 
	padding: 15px 30px 16px; 
}

.button.secondary {
	background-color: #E9E9E9;
	color: #1D1D1D;
	border: 1px solid #C3C3C3;
	font-weight: normal; /* Michael Whyte addition */
}

.button.secondary:hover, 
.button.secondary:focus {
	background-color: #D0D0D0;
}

.f_42 .box_effects .button {
	position: absolute;
	bottom: 26px;
	left: 36px;	
}

.f_42 .box_effects .btn_18 {
	left: 122px;	
}

.f_42 .box_effects .btn_21 {
	left: 135px;	
}

.f_42 .box_effects .btn_24 {
	left: 157px;	
}

.block {
	display: block;
	margin-bottom: 10px;	
}

.prev {
	margin-right: 6px;	
}

.credit_link {
	display: block;
	width: 80%;
	padding: 15px;
	background-color: #FDF3DF;
	text-align: center;
	margin: 20px auto;	
}

/* margin styles */

.mt20px {
	margin-top: 20px;	
}

.mt25px {
	margin-top: 25px;	
}

.mt30px {
	margin-top: 30px;	
}

.mt35px {
	margin-top: 35px;	
}

.mt40px {
	margin-top: 40px;	
}

.mt45px {
	margin-top: 45px;	
}

.mt50px {
	margin-top: 45px;	
}

.mb20px {
	margin-bottom: 20px;	
}

.mb25px {
	margin-bottom: 25px;	
}

.mb30px {
	margin-bottom: 30px;	
}

.mtb20px {
	margin-top: 20px;
	margin-bottom: 20px;	
}

/* end margin styles */

/* end general styles */

